{% extends "base.html" %} {% block contents %}
<div class="col-sm-8 blog-main">
    {% if post_data %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ post_data.title }}</h2>
        <p class="blog-post-meta">{{ post_data.time }} by <a href="#">{{ post_data.author }}</a></p>
        <p class="blog-post-meta">Labels: {{ post_data.labels }}</p>
        <div class="blog-post-body">
            {{ post_data.text|safe }}
        </div>
    </div>
    {% else %} 
    <div class="blog-post">
        <h2 class="blog-post-title">404 Not Found</h2>
    </div>
    {% endif %}


</div>
{% endblock contents %}.